.container {
    display: flex;
    flex-direction: row;
/*    align-items: center;
    initial-letter-align: alphabetic;
    justify-content: center;
    height: 200px;
    border: 2px solid;*/
}

.flex-item {
    max-width: 50%;
}



